/* Principal */
.topo{
  background: url('../../public/img/img-topo-medio.webp') no-repeat ;
  min-height: 100vh;
  background-position: center 100%;
  background-size: 100%;
  background-size: cover;
  text-align: center;
  display: flex;
  margin: 0 0 -8rem 0;
}

.topo::before{
  content:" ";
  background-image: 
    url('../../public/img/sementes-01.webp'),
    url('../../public/img/linha2.webp');
  position: absolute;
  background-repeat: no-repeat, no-repeat;
  top:0px;
  left: 0px;
  width: 20%;
  height: 70%;
  background-size: 100%, 80%;
  z-index: 0;
  background-position: 10% 0%, -10% 70%;
  
}

.topo::after{
  content:" ";
  width: 20%;
  height: 70%;
  position: absolute;
  bottom: 30%;
  right: 0;
  background-image: 
    url('../../public/img/sementes-02.webp'), 
    url('../../public/img/linha1.webp');
  
  background-position: 100% 90%, 100% 0%;

  background-size: 
      100px, 80px;

  background-repeat: no-repeat, no-repeat;    
  
}



.chamadaTexto{
  font-family: Nunito, sans-serif;
  font-weight: 500;
}

.geral{
  max-width: 992px;
}

.main {
  /* flex: 1; */
  max-width:992px;
  font-size: 1rem;
  color: #444444;
  margin: 0 auto;
  /* padding: 0 1rem; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.imgLogo{
  width: 200px;
  height: 100px;
  margin-bottom: 1.8rem;
}

.subtitulo{
  color: #7b1a55;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.imagemTopo{
  margin: -3rem auto 0 auto;
  width: 300px;
}

.botao{
  background: #7b1a55;
  border-radius: 50px;
  padding: 15px 50px;
  border: none;
  color: #f1f4f1;
  font-weight: 600;
  margin: 0 auto;
  z-index: 5;
}

.botaotopo{
  background: #FFCFCD;
  /* width: 350px; */
  border-radius: 50px;
  padding: 1.2rem 2rem ;
  border: none;
  color: #7b1a55;
  font-weight: 700;
  margin: 0 auto;
  z-index: 5;
  font-size: 1.3rem;
}


.Titulodestaque{
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.3em
}

.titulo{
  color: #ffffff;
  font-family:'Dancing Script' ;
  font-size: 3.5rem;
  line-height: 0.5em;
  }


  .topo2{
    background: url('../../public/img/img1-rosa.webp') no-repeat;
    min-height: 100vh;
    background-position: center top;
    background-size: 150%;
    text-align: center;
    /* padding: 1rem */
  }


  @media screen and (min-width: 768px) {
    .topo{
      background-size: cover;
      background-position: center 10%;
    }
  }

  @media screen and (min-width: 992px) {
    .geral{
      max-width: 992px;
    }

    .topo{
      /* background: url('../../public/img/img-topo.webp') no-repeat ; */
      min-height: 80vh;
      margin-bottom: 0;
      background-position: center 60%;
      background-size: 100%;
      background-size: cover;
      text-align: center;
      display: flex;
    }

    .main{
      font-size: 1.3rem;
    }

    
    .titulo{
      font-size: 5rem;
      line-height: 0.5em;
      }

    .Titulodestaque{
      font-size: 5rem;
    }

    .topo::before{
      width: 12%;
      height: 70%;
    }

  }